/* css reset start*/
/* css reset start*/
/* css reset start*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset end*/
/* css reset end*/
/* css reset end*/

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
	height:100%;
}

/* WebFont Set start*/
/* WebFont Set start*/
/* WebFont Set start*/

/* 나눔고딕 맑은고딕 애플고딕 */
/* 폰트네임은 C:\Windows\Fonts 에서 확인*/
/*

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
  font-family: 'Nanum Gothic', Arial, sans-serif;﻿
  font-size: 14px;
}
*/

/* WebFont Set end*/
/* WebFont Set end*/
/* WebFont Set end*/

.fs-sidebar {
	position:relative;

	width:750px;
	height:520px;
	font-family: Roboto, Arial, Helvetica;
	font-size: 14px;
	margin: 0 auto;

	margin-top:50px;

	border:1px solid #dfdfdf;
}

.fs-sidebar .fs-sidebar-side{
	position:relative;
	float:left;
	
	width:168px;
	height:518px;

	background-color: #fafafa;
	border:1px solid #dfdfdf;
}

.fs-sidebar .fs-sidebar-side .fs-sidebar-side-article:hover{
	z-index:3;
	background-color: #ebebeb;	
}

.fs-sidebar .fs-sidebar-side .fs-sidebar-side-article{
	display:inline-block;
	width:168px;
	height:27px;
	padding-top:5px;
	padding-left:5px;

}

.fs-sidebar .fs-sidebar-side .selected{
	z-index:3;
	background-color: #ebebeb;
}

.fs-sidebar .fs-sidebar-side .fs-sidebar-side-article i{
	float:left;
	margin-right:5px;
	font-size:15px;
}

.

.fs-sidebar .fs-sidebar-side  .fs-sidebar-side-divide{
	border:0.5px solid #dfdfdf;
}

.fs-sidebar .fs-sidebar-nav{
	position:relative;
	float:left;
	display:inline;
	
	height:32px;
	width:580px;

	background-color: #fafafa;
	border:1px solid #dfdfdf;
}

.fs-sidebar .fs-sidebar-nav .fs-sidebar-nav-article{
	display:inline-block;
	height:32px;
	float:left;

	padding:7px 10px 0px 10px;

}

.fs-sidebar .fs-sidebar-nav .fs-sidebar-nav-article i{
	margin-right:5px;
	float:left;
}

.fs-sidebar .fs-sidebar-nav .fs-sidebar-nav-article p{
	float:left;
}

.fs-sidebar .fs-sidebar-nav .fs-sidebar-nav-divide{
	display:inline-block;
	float:left;
	border:0.5px solid #dfdfdf;
	height:30px;
	margin:0px 10px 0px 10px;
}

.fs-sidebar .fs-sidebar-nav .fs-sidebar-nav-article:hover{
	z-index:3;
	background-color: #ebebeb;	
}

.fs-sidebar .fs-sidebar-content{
	float:left;
	width:580px;
}

.fs-sidebar .fs-sidebar-content table{
	width:100%;
    border-collapse: collapse;
    line-height: 1.2;
}

.fs-sidebar .fs-sidebar-content table thead {
    border-bottom: 1px solid #dfdfdf;
}
.fs-sidebar .fs-sidebar-content table thead th {
	height:35px;
    text-align:center;
    vertical-align: middle;
    color:#9f9f9f;
}

.fs-sidebar .fs-sidebar-content table tr .fileName{
	width:60%;
}

.fs-sidebar .fs-sidebar-content table tr td {
    height:32px;
    vertical-align: middle;
    border-bottom: 1px solid #dfdfdf;
    padding:0px 10px 0px 10px;
}

.fs-sidebar .fs-sidebar-content table .selected{
	z-index:3;
	background-color: #ebebeb;	
}